.header-title {
  height: 40px ;
  padding: 1rem 1rem ;
  margin-bottom: 5px;
  margin-right: 5px;
}

.header-button {
  height: 43px;
  border-radius: 5px;
  background-color: #2D7DD2;
  color: whitesmoke;
}
.menu{
  margin: 0 auto;
}
.gohome-button{
  padding-top:10px;
  height: 43px;
}

.header-body {
  height: 40px ;
  padding: 1rem 1rem ;
  margin-right: 45px;
  margin-bottom: 5px;
}

.post {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

html {
  margin-bottom: 65px;
}

body {
  background-color: #474647;
}

.loading {
  color: white;
}

.textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;  
}

button{
  cursor: pointer;
}

.inputName{
  margin-bottom: 5px; 
}

.commentText{
  word-wrap: break-word;
}

.showMore{
  margin-right: 5px;
}

.signOut{
  margin-top: 18px;
  height: 45px;
}

.inputDetail{
  width: 80%;
}

.inputTitle{
  width: 480px;
  margin-right: 39px;
}

.buttonDetail{
  margin-top: 5px;
  margin-right: 5px;
}

.textareDetails{
  height: 347px;
}

.addressDetail{
  position: relative;
  z-index: 9999;
}

.place-info{
  word-wrap: break-word;
}

.Login{
  margin-top: 50px;
}

.social{
  padding-left: 110px;
}
